USE [REGISTRO]
GO
/****** Object:  Table [dbo].[Registo_Vehiculo]    Script Date: 22/08/2025 22:32:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registo_Vehiculo](
	[Id_cliente] [nchar](10) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Color] [varchar](50) NULL,
	[ano_fabricacion] [varchar](50) NOT NULL,
	[tanques] [int] NULL,
	[Placa] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registro_Cliente]    Script Date: 22/08/2025 22:32:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registro_Cliente](
	[Id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[celular] [int] NOT NULL,
	[direccion] [varchar](50) NULL,
 CONSTRAINT [PK_Registro_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
